main{
    //height: 100%;
    margin:0 10px 0 10px;
    border: 1px solid transparent;
}

.holder{
    width: 60%;
}
img{
    display: block;
    margin: 10px auto;
    width: 150px;
    height:150px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background: #1f75c0;
}
input{
    width: 40%;
    height:30px;
    border-radius: 8px;
    margin: 10px auto;
    font-size: medium;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    display: block;
}
input#profile_pic{
    display: none;
}
label.pp{
    margin: 20px auto;
    width:110px;
    height:25px;
    background: #1f75c0;
    color:#d8f7ff;
    font-size: 20px;
    display: block;
    text-align: center;
    border:1px solid #000;
    border-radius: 8px;
}
label.pp:hover{
    background: #1f65a2;
    transition: 0.5s;
    cursor: pointer;
}
label{
    color: #1f75c0;
    font-size: 20px;
    display: block;
    text-align: center;

}
#but{
    display: block;
    margin: 30px auto;
    width:110px;
    height:40px;
    background: #1f75c0;
    color:#d8f7ff;
    font-size: 20px;
    border-radius: 8px;
    font-family: Tahoma;
    line-height: 5px;
}
#but:hover {
    cursor: pointer;
    background: lightskyblue;
    color:black;
    transition:0.5s;
}
