

body{
    direction: unset;
}
.holder{
    height:100%;
    overflow: hidden;

}



header > a>div.AddPostButtom{
    //float:right;
    border:1px solid #000;
    width: 60%;
    text-align: center;
    height:30px;
    border-radius: 30px;
    display: inline-block;
    margin: 10px 150px;
    line-height: 25px;
}
a.aa{
    text-decoration: none;
}
header > a>div.AddPostButtom:hover{
    background: #1f75c0;
    color: #fff;
    transition: 0.2s;
}

main > div.holderpost{
    //border: 1px solid #FFd;
    //width: 90%;
    //height: 40px;
    margin-left: 15px;
    margin-top: 5px;
}

main > div.holderpost > div.item{
    width: 30%;
    border:1px solid transparent;
    background: white;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 20px;
    float: left;
    margin:5px;
}

main > div.holderpost > div.item>h4 {
    color:#000;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    width: 180px;
    margin-left: 10px;
}
main > div.holderpost > div.item>h1{
    margin: -10px auto;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}

header > h1 {
    text-align: center;



}
main > div.holderpost > div.item>img{
    display: inline-block;
    width: 90%;
    height: 180px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-left: 10px;
}

main > div.holderpost > div.item>div.lc{
    width: 70px;
    height:30px;
    margin: 0 auto;
    border-radius: 30px;
    background: #9ecaff;
    position: relative;
    top:-35px;
    left:-8px;
    background-color: #4dd2ca;

}
main > div.holderpost > div.item>div.lc>span{

}

main > div.holderpost > div.item>div.des{
    width: 90%;
    height: 110px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding-top: 0px;
    box-shadow: 0 0 2px #ccc;
    position: relative;
    top:-20px;
    margin-left: 10px;
    background-color: #4dd2ca;
}

.des > .kla{
    height: 52%;
    margin-top: 19px;

}

.des > .kla > .salam{
    width: 32%;
    height: 99%;
    float: left;
    text-align: center;
    font-size:25px;
}



.fa {
    font-size: 70px;
    cursor: pointer;
    user-select: none;
}





.fa:hover {
    color: darkblue;
    font-size: 40px;
    padding: 10px;
}

p , h4 {
    text-align: end;
}

