<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="../static/addpost.css">
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
</head>
<body>
<div class="holder">
<header>
    <h1>Add Post</h1>
</header>
<main>
    <form action="" method="">
        <label for="photo" class="photo">Choose Photo:</label>
        <input type="file" name="photo" id="photo"/>
        <label for="photo" class="pp"></label>

        <label for="name">Name of Photo:</label>
        <input type="text" name="name" id="name">

        <label for="describtion">describtion of Photo:</label>
        <textarea id="describtion"></textarea>

        <label for="category">Choose Category:</label>
        <select name="category" id="category">
            <option value="sport">sport</option>
            <option value="music">music</option>
            <option value="movie">movie</option>
            <option value="food">food</option>
        </select>

        <input type="submit" value="DONE" id="but">
    </form>
</main>
</div>
</body>
</html>