<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/addpost.css">
    <link rel="stylesheet" href="/addpost.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<div class="holder">
<header>
    <h1>Add Post</h1>
</header>
<main>
    <form action="" method="">
        <label for="photo" class="photo">انتخاب تصویر:</label>
        <input type="file" name="photo" id="photo"/>
        <label for="photo" class="pp"></label>

        <label for="name">نام انتخابی عکس:</label>
        <input type="text" name="name" id="name">

        <label for="describtion">توضیحات تصویر:</label>
        <textarea id="describtion"></textarea>

        <label for="category">انتخاب دسته بندی:</label>
        <select name="category" id="category">
            <option value="sport">ورزشی</option>
            <option value="music">موزیک</option>
            <option value="movie">فیلم</option>
            <option value="food">غذا</option>
        </select>

        <input type="submit" value="DONE" id="but">
    </form>
</main>
</div>
</body>
</html>