<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/editprifile.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Edit Profile</h1>
    </header>
    <main>

        <form method="" action="">
            <img src="#" />
            <input type="file" id="profile_pic">
            <label for="profile_pic" class="pp">Change</label>

            <label for="lname">Name:</label>
            <input type="text" id="fname" name="lname">

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email">

            <label for="national">National:</label>
            <input type="text" id="national" name="national">

            <label for="username">UserName:</label>
            <input type="text" id="username" name="username">

            <input type="submit" value="CHANGE" id="but">
        </form>

    </main>

</div>
</body>
</html>