<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head runat="server">

    <style>
        body{
            background-color: aqua;
            padding: 40px;
            float: left;
            text-align: center;






        }
    </style>

   <!--  <link rel="stylesheet" href="../static/Loginpage.css">
        <link rel="stylesheet" href="../static/body.css">
        <link rel="stylesheet" href="/body.css">
        <link rel="stylesheet" href="StyleSheet.css"/>
        <link rel="stylesheet" href="Loginpage.css"/> -->


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>





</head>


<body>
<form th:action="@{/Log}"  method="post" id="form1" runat="server" >

    <div id="header">

    </div>

    <div id="content">
        <div id="box">

            <h1>ورود کاربر</h1>
            <br />

            <input type="text" name="username" placeholder="نام کاربری خود را وارد کنید" required autocomplete="on" />

            </br>
            </br>

            <input type="password" name="password" placeholder="رمز خود را وارد کنید" required autocomplete="on" />

            </br>
            </br>
            <br />
            <label>
                <input type="checkbox" checked="checked" name="remember"> ذخیره رمز
            </label>

            <br />
            <br />
            <br />

            <button type="submit">ورود</button>
            <br />
            <br />
            <div class="signup-callout">
                " برای ثبت نام" <a href="Signuppage.html">اینجا</a> "را کلیک کنید"
            </div>



        </div>
    </div>
    <div id="footer"> </div>

</form>

</body>

</html>
