
<!DOCTYPE html>


<head runat="server">


</head>


<body>

<form id="form1" runat="server">

    <div id="header">

    </div>

    <div id="content">
        <div id="box">

            <h2>Login Page</h2>
            <br />





            <input type="text" placeholder="Enter Username" required autocomplete="on" />

            </br>
            </br>

            <input type="password" placeholder="Enter Your password" required autocomplete="on" />

            </br>
            </br>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>



        </div>
    </div>
    <div id="footer"> </div>

</form>

</body>

</html>
