<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head runat="server">

   <!--    <link rel="stylesheet" href="../static/Loginpage.css">
        <link rel="stylesheet" href="../static/body.css">
        <link rel="stylesheet" href="/body.css">
        <link rel="stylesheet" href="StyleSheet.css"/>
        <link rel="stylesheet" href="Loginpage.css"/> -->



</head>


<body>
<form th:action="@{/Log}"  method="post" id="form1" runat="server" >

    <div id="header">

    </div>

    <div id="content">
        <div id="box">

            <h1>ورود کاربر</h1>
            <br />

            <input type="text" name="username" placeholder="نام کاربری خود را وارد کنید" required autocomplete="on" />

            </br>
            </br>

            <input type="password" name="password" placeholder="رمز خود را وارد کنید" required autocomplete="on" />

            </br>
            </br>
            <br />
            <label>
                <input type="checkbox" checked="checked" name="remember"> ذخیره رمز
            </label>

            <br />
            <br />
            <br />

            <button type="submit">ورود</button>
            <br />
            <br />
            <div class="signup-callout">
                " برای ثبت نام" <a href="Signuppage.html">اینجا</a> "را کلیک کنید"
            </div>



        </div>
    </div>
    <div id="footer"> </div>

</form>

</body>

</html>
