<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div class="holder">
    <header>
        <h1>Main Page</h1>
        <div class="menu">
            <ul class="menu">
                <li><a href="profile.html">my page</a></li>
                <li><a href="searchuser.html">search user</a></li>
                <li><a href="searchpost.html">search post</a></li>
                <li class="select"><a href="#">all post</a></li>
            </ul>
        </div>
        <a href="addpost.html" class="aa"><div class="AddPostButtom">Add Post</div></a>
    </header>
    <main>


        <div class="holderpost">

            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>
            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>
            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>
            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>
            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>


        </div>
    </main>
</div>


</body>
</html>