<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


</head>
<body>

<div class="holder">
    <header>
        <h1>صفحه اصلی</h1>

        <div class="menu">
            <ul class="menu">
                <li><a href="profile.html">صفحه من</a></li>
                <li><a href="searchuser.html">جستجوی کاربر</a></li>
                <li><a href="searchpost.html">جستجوی پست</a></li>
                <li class="select"><a href="#">همه پست ها</a></li>
            </ul>
        </div>
        <a href="addpost.html" class="aa"><div class="AddPostButtom">اضافه کردن پست</div></a>
    </header>
    <main>


        <div class="holderpost">

            <div class="item">
                <h4>کاربر شماره 1</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment1">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save1">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>


                    </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 2</h4>
                <h1 style="text-align: end;">عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">

                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment2">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save2">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>



                    </div>

                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 3</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">
                        <div class="salam" id="comment3">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save3">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>


                    </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 4</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment4">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save4">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>





                    </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 5</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment5">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save5">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 6</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment6">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save6">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>


                    </div>
                </div>
            </div>



        </div>
    </main>
</div>

<script>
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }
</script>


</body>
</html>