<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div class="holder">
    <header>
        <h1>صفحه اصلی</h1>
        <div class="menu">
            <ul class="menu">
                <li><a href="profile.html">صفحه من</a></li>
                <li><a href="searchuser.html">جستجوی کاربر</a></li>
                <li><a href="searchpost.html">جستجوی پست</a></li>
                <li class="select"><a href="#">همه پست ها</a></li>
            </ul>
        </div>
        <a href="addpost.html" class="aa"><div class="AddPostButtom">اضافه کردن پست</div></a>
    </header>
    <main>


        <div class="holderpost">

            <div class="item">
                <h4>کاربر شماره 1</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla"> </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 2</h4>
                <h1 style="text-align: end;">عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">

                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla"> </div>

                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 3</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla"> </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 4</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla"> </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 5</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla"> </div>
                </div>
            </div>


        </div>
    </main>
</div>


</body>
</html>