<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Main Page</h1>
        <div class="menu">
            <ul class="menu">
                <li class="select"><a href="profile.html">صفحه من</a></li>
                <li><a href="searchuser.html">جستجو کاربر</a></li>
                <li><a href="searchpost.html">جستجو پست</a></li>
                <li><a href="main.html">همه پست ها</a></li>
            </ul>
        </div>
    </header>
    <main>
        <ul class="head">
            <li><img src="#"/></li>
            <li>usenname</li>
            <li>نام کامل کاربر</li>
            <li class="but"><a href="editprofile.html">ویرایش</a></li>
            <li>دنبال کننده: 323</li>
            <li>دنبال شونده: 72</li>
            <li>پست ها: 2</li>
        </ul>
        <div class="holderpost">


            <div class="item">
                <h4>کاربر شماره 1</h4>
                <h1>عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment1">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save1">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>


                    </div>
                </div>
            </div>
            <div class="item">
                <h4>کاربر شماره 2</h4>
                <h1 style="text-align: end;">عنوان پست</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">

                    <p>...توضیحات مربوط به این پست</p>
                    <div class="kla">

                        <div class="salam" id="comment2">
                            <i class='fas fa-comment-dots' style='font-size:36px'></i>
                        </div>


                        <div class="salam" id="save2">
                            <i style='font-size:24px' class='fas'>&#xf07c;</i>
                        </div>


                        <div class="salam">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>



                    </div>

                </div>
            </div>

        </div>
    </main>

</div>

</body>
</html>