<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Main Page</h1>
        <div class="menu">
            <ul class="menu">
                <li class="select"><a href="profile.html">my page</a></li>
                <li><a href="searchuser.html">search user</a></li>
                <li><a href="searchpost.html">search post</a></li>
                <li><a href="main.html">all post</a></li>
            </ul>
        </div>
    </header>
    <main>
        <ul class="head">
            <li><img src="#"/></li>
            <li>usenname</li>
            <li>نام کامل کاربر</li>
            <li class="but"><a href="editprofile.html">edit</a></li>
            <li>دنبال کننده: 323</li>
            <li>دنبال شونده: 72</li>
            <li>پست ها: 2</li>
        </ul>
        <div class="holderpost">

            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>
            <div class="item">
                <h4>username</h4>
                <h1>name post</h1>
                <img src="#"/>
                <div class="lc">
                    <span></span>
                    <span></span>
                </div>
                <div class="des">
                    <p>this is describtion of post ...</p>
                </div>
            </div>

        </div>
    </main>

</div>

</body>
</html>