<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY Page</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Main Page</h1>
        <div class="menu">
            <ul class="menu">
                <li class="select"><a href="profile.html">my page</a></li>
                <li><a href="searchuser.html">search user</a></li>
                <li><a href="searchpost.html">search post</a></li>
                <li><a href="main.html">all post</a></li>
            </ul>
        </div>
    </header>
    <main>

    </main>

</div>

</body>
</html>