<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/searchuser.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/searchuser.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Search User</h1>
        <div class="menu">
            <ul class="menu">
                <li><a href="profile.html">صفحه من</a></li>
                <li class="select"><a href="#">جستجو کاربر</a></li>
                <li><a href="searchpost.html">جستجو پست</a></li>
                <li><a href="main.html">همه پست ها</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="head">
            <form action="" method="">
                <label for="search">UserName: </label>
                <input type="search" id="search">
                <input type="submit" value="Search" id="but">
            </form>
        </div>

        <div class="holderpost">
            <ul class="item">
                <li class="pic"></li>
                <li class="name">نام کاربر</li>
                <li class="username"><a href="profile.html" style="text-decoration: none;color:#000;">username</a></li>
                <li class="date">1998/08/18</li>
                <li class="but"><a href="profile.html" style="text-decoration: none;color:#000;">نمایش کاربر</a></li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>