<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/searchuser.css">
</head>
<body>
<div class="holder">
    <header>
        <h1>Search User</h1>
        <div class="menu">
            <ul class="menu">
                <li><a href="#">my page</a></li>
                <li class="select"><a href="#">search user</a></li>
                <li><a href="#">search post</a></li>
                <li><a href="#">all post</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="head">
            <form action="" method="">
                <label for="search">UserName: </label>
                <input type="search" id="search">
                <input type="submit" value="Search" id="but">
            </form>
        </div>

        <div class="holderpost">
            <ul class="item">
                <li class="pic"></li>
                <li class="name">fname lname</li>
                <li class="username">username</li>
                <li class="date">1998/08/18</li>
                <li class="but">Show User</li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>