<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/signuppage.css">
     <link rel="stylesheet" href="/signuppage.css">
    <!-- <link href="StyleSheet.css" rel="stylesheet" /> -->

</head>
<body>
<div id="box">
    <div id="asli">
        <br />
        <h1><b>ثبت نام</b></h1>

        <br /> <br /> <br />
        <!--th:object="${ozvha}"-->
        <form method="post" th:action="@{/user/sign}">
        <input type="text" placeholder="لطفا نام ‌کاربری خود را وارد نمایید" name="username" id="username" required>

        <br /> <br /> <br />

        <!--th:field="*{email}" -->
        <input type="email" placeholder="ایمیل خود را وارد نمایید" name="email" id="email"  required>

        <br /> <br />


        <input type="password" placeholder="رمز خود را وارد نمایید" name="psw" id="psw"  required>

        <br /> <br />


        <input type="password" placeholder="رمز خود را تکرار نمایید" name="psw2" id="psw2" required>

        <br /> <br />


        <input type="checkbox" checked="checked" name="remember" id="remember"> ذخیره رمز

        <br /> <br />

        <button type="submit" class="signupbtn" style="font-size:16px;">ورود</button>

        </form>
        <br /> <br /> <br /> <br />
        <span class="login"> در صورت داشتن اکانت<a href="Loginpage.html"> اینجا</a> را کلیک کنید</span>




    </div>
</div>


</body>
</html>